:root {
    --bleu-color: #1992d4;
    --white-color: #fff;
    --grey-color: #e2e8f0;
    --gold-color: #F0B429;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg {
    width: 25px;
}

.overall-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* The sidebar styling */

.sidebar {
    background-color: var(--bleu-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1.5rem 1.5rem;

}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    font-weight: bold;
}

.logo svg {
    width: 50px;
    fill: var(--white-color);
}

.main-navigations,
.extra-navigations {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    margin: 0 auto;

}

.nav-element {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 1rem;
    font-weight: bold;
}

.nav-element svg {
    width: 25px;
    fill: var(--white-color);
}

/* The header styling */

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: var(--white-color);
    padding: 1rem 3rem;
    gap: 2rem;
    box-shadow: 0 .2rem .5rem var(--grey-color);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

input#search-bar {
    flex: 1;
    background-color: var(--grey-color);
    border: none;
    border-radius: 10px;
    height: 2.5rem;
}

.user-profile {
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-content: center;
}

.user-profile img {
    width: 40px;
    border-radius: 50%;

}

.welcome-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.welcome-section img {
    width: 65px;
    border-radius: 50%;
}

.welcome-section p {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.welcome-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.bleu-button {
    background-color: var(--bleu-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-radius: 20px;
    font-size: 1.4rem;
}